# 03 data cleaning

1. handling missing data(isnull, notnull, fillna, dropna)
2. data transformation(apply, map, applymap, replace)
3. removing duplicates(duplicated, drop_duplicates)
4. data type conversion(astype, to_datetime, to_numeric)

In [17]:
import pandas as pd

## 4. Data Conversion, Computation, and Visualization

### 4.1 Converting Data Types

In [14]:
import pandas as pd

# Sample DataFrame
data = {'A': [1, 2, 3, 4], 'B': ['10', '20', '30', '40']}
df = pd.DataFrame(data)

# Converting column B from string to integer
df['B'] = df['B'].astype(int)
df.dtypes

A    int64
B    int32
dtype: object

### 4.2 Applying Functions
- Using `apply()`, `map()`, and `applymap()`

In [8]:
# Applying a function to a column using apply()
df['A_squared'] = df['A'].apply(lambda x: x ** 2)
df

   A   B  A_squared B_mapped
0  1  10          1        X
1  2  20          4        Y
2  3  30          9        Z
3  4  40         16        W

In [9]:
# Mapping values in a column using map()
df['B_mapped'] = df['B'].map({10: 'X', 20: 'Y', 30: 'Z', 40: 'W'})
df

   A   B  A_squared B_mapped
0  1  10          1        X
1  2  20          4        Y
2  3  30          9        Z
3  4  40         16        W

In [ ]:
# Applying a function to all elements of the DataFrame using applymap()
df_applied = df.applymap(lambda x: str(x) + '!')
df_applied

    A    B A_squared B_mapped
0  1!  10!        1!       X!
1  2!  20!        4!       Y!
2  3!  30!        9!       Z!
3  4!  40!       16!       W!

### 4.3 String Manipulation
- Using the `str` accessor for string operations
| **Method**         | **Description**                                                                                       | **Example Code**                              |
|--------------------|-------------------------------------------------------------------------------------------------------|-----------------------------------------------|
| `str.lower()`      | Converts strings in the Series/Index to lowercase.                                                     | `df['col'].str.lower()`                       |
| `str.upper()`      | Converts strings in the Series/Index to uppercase.                                                     | `df['col'].str.upper()`                       |
| `str.len()`        | Computes the length of each string in the Series/Index.                                                | `df['col'].str.len()`                         |
| `str.strip()`      | Removes leading and trailing whitespace.                                                              | `df['col'].str.strip()`                       |
| `str.lstrip()`     | Removes leading whitespace.                                                                           | `df['col'].str.lstrip()`                      |
| `str.rstrip()`     | Removes trailing whitespace.                                                                          | `df['col'].str.rstrip()`                      |
| `str.replace()`    | Replaces occurrences of a string with another string.                                                 | `df['col'].str.replace('old', 'new')`         |
| `str.contains()`   | Checks if each string in the Series/Index contains a pattern/regex.                                    | `df['col'].str.contains('pattern')`           |
| `str.startswith()` | Checks if each string in the Series/Index starts with a pattern.                                       | `df['col'].str.startswith('prefix')`          |
| `str.endswith()`   | Checks if each string in the Series/Index ends with a pattern.                                         | `df['col'].str.endswith('suffix')`            |
| `str.find()`       | Returns the lowest index of the substring. Returns -1 if not found.                                    | `df['col'].str.find('substring')`             |
| `str.findall()`    | Finds all occurrences of pattern/regex in the Series/Index.                                            | `df['col'].str.findall('pattern')`            |
| `str.match()`      | Determines if each string matches a regular expression.                                               | `df['col'].str.match('pattern')`              |
| `str.count()`      | Counts occurrences of pattern in each string.                                                         | `df['col'].str.count('pattern')`              |
| `str.split()`      | Splits each string by the specified delimiter and returns a list of strings.                          | `df['col'].str.split('delimiter')`            |
| `str.cat()`        | Concatenates strings in the Series/Index with the given separator.                                    | `df['col'].str.cat(sep='separator')`          |
| `str.get()`        | Extracts element from each component at specified position.                                           | `df['col'].str.get(0)`                        |
| `str.join()`       | Joins lists contained as elements in the Series/Index with the passed delimiter.                      | `df['col'].str.join('-')`                     |
| `str.extract()`    | Extracts groups from the first match of regular expression pattern.                                   | `df['col'].str.extract('pattern')`            |
| `str.extractall()` | Extracts all matches of regular expression pattern.                                                   | `df['col'].str.extractall('pattern')`         |
| `str.zfill()`      | Pads each string in the Series/Index with zeros on the left to reach a specified width.                | `df['col'].str.zfill(5)`                      |
| `str.pad()`        | Pads each string in the Series/Index with the specified character on the left and/or right sides.     | `df['col'].str.pad(width=10, side='left')`    |
| `str.slice()`      | Slices each string in the Series/Index by specified positions.                                        | `df['col'].str.slice(start=0, stop=3)`        |
| `str.wrap()`       | Wraps each string in the Series/Index at the specified width.                                         | `df['col'].str.wrap(width=10)`                |
| `str.get_dummies()`| Converts Series/Index to dummy variables (one-hot encoding).                                          | `df['col'].str.get_dummies(sep=' ')`          |

In [15]:
# Sample DataFrame with string data
data = {'C': ['apple', 'banana', 'cherry', 'date']}
df_str = pd.DataFrame(data)
df_str

        C
0   apple
1  banana
2  cherry
3    date

In [11]:
# Converting to uppercase
df_str['C_upper'] = df_str['C'].str.upper()
df_str

        C C_upper
0   apple   APPLE
1  banana  BANANA
2  cherry  CHERRY
3    date    DATE

In [12]:
# Checking if the string contains a substring
df_str['C_has_a'] = df_str['C'].str.contains('a')
df_str

        C C_upper  C_has_a
0   apple   APPLE     True
1  banana  BANANA     True
2  cherry  CHERRY    False
3    date    DATE     True

### 4.4 Melting and Spreading Data

In [84]:
# Sample DataFrame
data = {
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie'],
    'math_score': [85, 90, 95],
    'english_score': [80, 85, 88]
}
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

# Melting (wide to long format)
df_melted = pd.melt(df, id_vars=['id', 'name'], var_name='subject', value_name='score')
print("\nMelted DataFrame (wide to long):\n", df_melted)

# Spreading (long to wide format) using pivot
df_spread = df_melted.pivot(index=['id', 'name'], columns='subject', values='score').reset_index()
print("\nSpread DataFrame (long to wide) using pivot:\n", df_spread)

# Alternative spreading using unstack
df_spread_unstack = df_melted.set_index(['id', 'name', 'subject']).unstack().reset_index()
df_spread_unstack.columns = ['id', 'name'] + [col[1] for col in df_spread_unstack.columns[2:]]
print("\nSpread DataFrame (long to wide) using unstack:\n", df_spread_unstack)

Original DataFrame:
    id     name  math_score  english_score
0   1    Alice          85             80
1   2      Bob          90             85
2   3  Charlie          95             88

Melted DataFrame (wide to long):
    id     name        subject  score
0   1    Alice     math_score     85
1   2      Bob     math_score     90
2   3  Charlie     math_score     95
3   1    Alice  english_score     80
4   2      Bob  english_score     85
5   3  Charlie  english_score     88

Spread DataFrame (long to wide) using pivot:
 subject  id     name  english_score  math_score
0         1    Alice             80          85
1         2      Bob             85          90
2         3  Charlie             88          95

Spread DataFrame (long to wide) using unstack:
    id     name  english_score  math_score
0   1    Alice             80          85
1   2      Bob             85          90
2   3  Charlie             88          95

### 4.5 Using Pivot and Pivot Table

In [85]:
# Sample DataFrame
data = {
    'date': ['2024-01-01', '2024-01-01', '2024-02-01', '2024-02-01'],
    'category': ['A', 'B', 'A', 'B'],
    'value': [10, 20, 30, 40]
}
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

# Pivot
df_pivot = df.pivot(index='date', columns='category', values='value').reset_index()
print("\nPivot DataFrame:\n", df_pivot)

# Pivot Table with aggregation
df_pivot_table = df.pivot_table(index='date', columns='category', values='value', aggfunc='sum').reset_index()
print("\nPivot Table DataFrame with sum aggregation:\n", df_pivot_table)

# Pivot Table with multiple aggregations
df_pivot_table_multi = df.pivot_table(index='date', columns='category', values='value', aggfunc=['sum', 'mean']).reset_index()
print("\nPivot Table DataFrame with multiple aggregations:\n", df_pivot_table_multi)

Original DataFrame:
          date category  value
0  2024-01-01        A     10
1  2024-01-01        B     20
2  2024-02-01        A     30
3  2024-02-01        B     40

Pivot DataFrame:
 category        date   A   B
0         2024-01-01  10  20
1         2024-02-01  30  40

Pivot Table DataFrame with sum aggregation:
 category        date   A   B
0         2024-01-01  10  20
1         2024-02-01  30  40

Pivot Table DataFrame with multiple aggregations:
                 date sum     mean
category               A   B    A   B
0         2024-01-01  10  20   10  20
1         2024-02-01  30  40   30  40